PORT=3000
DATABASE_URL="postgresql://lending_user:lending_password@localhost:5433/mini_lending?schema=public"
JWT_SECRET="replace-this-with-a-long-random-secret"
JWT_EXPIRES_IN="1d"

SEED_ADMIN_FIRST_NAME="Admin"
SEED_ADMIN_LAST_NAME="User"
SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_PHONE_NUMBER="09999999999"
SEED_ADMIN_BIRTH_DATE="1990-01-01"
SEED_ADMIN_PASSWORD="AdminPass123"
